$button-primary-color: rgb(62, 61, 50);
$button-secondary-color: rgb(180, 180, 180);
$button-disabled-color: rgb(204, 204, 204);

$sidebar-background: rgb(220, 220, 220);
$sidebar-border: 1px solid rgb(200, 200, 200);


